.questionBox{
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 4px;
  height: 127px !important;
  width:740px !important;
}

.questionTitle{
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}

.radioBox{
  height: 30px;
  width: 570px;
}

.radio{
  margin : 2%;
  vertical-align: middle;
 
}

.disagree{
  font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;
text-align: right;

color: #FA4344;
vertical-align: middle !important;
}
.agree{
  font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 19px;

color: #00A079;

}